<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/dedaa49cc7.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@300&family=Oswald:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/styles.css">
    <title>Document</title>
</head>
<body>
    
    <div class="principal">
        <div class="each">
            <i class="fas fa-bed"></i>
            <h1>Comfort</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero quibusdam expedita, 
                architecto ipsam impedit voluptates eaque sit natus mollitia! Officiis ad 
                voluptatibus similique aliquid cumque accusamus temporibus neque itaque expedita!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero quibusdam expedita, 
                architecto ipsam impedit voluptates eaque sit natus mollitia! Officiis ad 
                voluptatibus similique aliquid cumque accusamus temporibus neque itaque expedita!</p>
        </div>
        <div class="each">
            <i class="far fa-money-bill-alt"></i>
            <h1>Price</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero quibusdam expedita, 
                architecto ipsam impedit voluptates eaque sit natus mollitia! Officiis ad 
                voluptatibus similique aliquid cumque accusamus temporibus neque itaque expedita!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero quibusdam expedita, 
                architecto ipsam impedit voluptates eaque sit natus mollitia! Officiis ad 
                voluptatibus similique aliquid cumque accusamus temporibus neque itaque expedita!</p>
                
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="each">
            <i class="fas fa-lock"></i>
            <h1>Security</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero quibusdam expedita, 
                architecto ipsam impedit voluptates eaque sit natus mollitia! Officiis ad 
                voluptatibus similique aliquid cumque accusamus temporibus neque itaque expedita!</p> 
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero quibusdam expedita, 
                architecto ipsam impedit voluptates eaque sit natus mollitia! Officiis ad 
                voluptatibus similique aliquid cumque accusamus temporibus neque itaque expedita!</p>
        </div>
    </div>

</body>
</html>