* {
    text-align: center;
}

.nav-header {
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-items: center;
    align-items: center;
}

.logo {
    font-family: 'Pacifico', Helvetica;
    font-size: 30px;
    color: white;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    width: 80%;
}
.nav-links a {
    font-family: 'Domine', Helvetica;
    margin: 0 30px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    padding: 10px 0;
    border: solid;
    border-color: black;
    text-transform: uppercase;
    transition: all ease 0.5s;
}

.nav-links a:hover {
    background-color: white;
    color: black;
    font-weight: bold;
}

.nav-links a:last-child {
    margin: 0;
    border-color: white;
}

@media(min-width: 768px) {
    .nav-links a {
        width: 100%;
        margin: 0;
        font-size: 15px;
    }
}

.back-image {
    background-image: url(../img/back-image.jpg);
    height: 40rem;
    background-position: 0vh;
    background-size: cover;
}

.main-text {
    position: absolute;
    width: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Merienda One', Helvetica;
    color: white;
    font-size: 50px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.social-nets {
    position: relative;
    top: 22.5%;
    left: 15%;
    bottom: 50%;
    background-color: white;
    width: 8%;
    height: 50%;
    border-radius: 15%;
    box-shadow: 5px 5px 10px 0 black, -5px -5px 10px 0 black;
}

.icons {
    display: flex;
    flex-direction: column;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icons a {
    color: black;
    padding: 10px 0;
    font-size: 45px;
    transition: all ease-in 0.3s;
}

.icons a:hover {
    opacity: 0.5;
    font-size: 50px;
}