body {
    font-family: 'Roboto', sans-serif;
}

button {
    border-radius: 5px;
    border-style: none;
    width: 45%;
}

input {
    height: 30px;
    padding-left: 10px;
    width: 80%;
}

ul {
    padding: 0 5px;
}
li {
    list-style-type: none;
}

.btn {
    border-style: none;
    padding: 10px 50px;
}

.header {
    background-color: cyan;
    font-size: 40px;
    font-weight: bold;
    padding: 15px 0;
    text-align: center;
    width: 100%;
}

.main-container {
    display: flex;
    width: 95%;
    text-align: center;
    flex-direction: column;
    margin: 15px auto;
}

.arrows i {
    font-size: 25px;
}

.fa-arrow-left {
    margin-right: 10px;
}

.todo-item p {
    font-size: 20px;
}

.edit-btn {
    background-color: #FAFF4A;
}

.del-btn {
    background-color: #FF1616;
}

.new-todo {
    bottom: 25px;
    position: absolute;
}

.btn-add-todo {
    background-color: cyan;
    font-weight: bold;
    margin-top: 10px;
    width: 85%;
}