* {
  font-family: Helvetica, sans-serif;
}

body {
  padding-left: 10px;
}

button {
  width: 50%;
  height: 35px;
  background-color: cyan;
}

input {
  color: red;
  width: 80%;
  font-size: 15px;
}