h2 {
    color: white;
    text-align: center;
    width: 50%;
}

h1 {
    position: relative;
    top: 10px;
    left: 50px;
}

.rel {
    position: relative;
    font-size: 50px;
}
.absol {
    position: absolute;
    font-size: 30px;
    left: 300px;
    top: 50px
}

.right {
    float: right;
    background-color: red;
}

.left {
    float: left;
    background-color: blue;
}

.squares {
    width: 500px;
    height: 500px;
}

.first {
    background-color: yellow;
    position: relative;
    left: 100px;
    top: 100px;
    z-index: 2;
}
.second {
    background-color: violet;
    position: relative;
    left: 200px;
    bottom: 200px;
    z-index: 1;
}

.front {
    background-color: burlywood;
    position: relative;
    bottom: 100px;
    left: 150px;
}

.back {
    background-color: chartreuse;
    position: absolute;
    left: 150px;
    top: 150px;
    z-index: 1;
}
.end {
    background-color: cyan;
    position: absolute;
    top: 150px;
    right: 150px;
    z-index: 2;
}