<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.JS Intro</title>
</head>

<body>
    <div id="myApp">
        <h1>Batman Quotes <small>{{newQuote}}</small></h1>
        <input
          type="text"
          v-model="newQuote" 
          v-on:keypress.enter="addQuote"
        />
        <hr>

        <ul>
            <!-- <li v-for="({quote, author}, index) in quotes">{{index + 1}}.- {{quote}} - <span v-if="author">{{author}}</span></li> -->
            <li v-for="({quote, author}, index) in quotes">{{index + 1}}.- {{quote}} - <span v-show="author">{{author}}</span></li>
        </ul>
        <!-- <h1>Hello, World!</h1>
        <p>{{message}}</p>

        <button v-on:click="changeMessage">Change Text</button> -->
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="/app.js"></script>
</body>

</html>