.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.row {
    display: flex;
}

.box {
    width: 75px;
    height: 75px;
    border-style: solid;
    border-color: black;
    box-shadow: 5px 0 2.5px black, 0 5px 2.5px black, -5px 0 2.5px black, 0 -5px 2.5px black;
    border-width: 1.5px;
}