:root {
    --lobster: 'Lobster', cursive;
}

/* More Buttoms are going to be here, styles are predefined */
.webSite-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    box-shadow: 0 2px 5px black;
}

.main-text {
    font-family: var(--lobster);
    font-size: 100px;
}

.container {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.bars {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 50px;
}

.each-bar {
    background-color: salmon;
    margin: 0 1px;
}