:root {
    --lobster: 'Lobster', cursive;
    --oswald: 'Oswald', sans-serif;
    --blue-color: #22f7d7;
    --orange-color: #f78522;
    --stronger-orange: #f75200;
    --red-color: #f72234;
    --purple-color: #7b22f7;
}

/* More Buttoms are going to be here, styles are predefined */
.webSite-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    box-shadow: 0 2px 5px black;
    background-color: var(--blue-color);
}

.main-text {
    font-family: var(--lobster);
    color: var(--orange-color);
    font-size: 100px;
}

.container {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.bars {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 50px;
}

.each-bar {
    background-color: salmon;
    margin: 0 1px;
}

.btn {
    height: 50px;
    border-style: solid;
    border-width: 3px;
    border-color: var(--purple-color);
    background-color: var(--orange-color);
    font-family: var(--oswald);
    font-weight: bold;
    margin: 0 10px;
    padding: 0 15px;
    font-size: 30px;
    transition: all ease 0.5s;
}

.button-onclick {
    background-color: var(--purple-color);
    border-color: var(--orange-color);
    color: white;
}

.btn:hover {
    background-color: var(--stronger-orange);
}