:root {
    --lobster: 'Lobster', cursive;
    --oswald: 'Oswald', sans-serif;
    --blue-color: #22f7d7;
    --orange-color: #FF9E29;
    --purple-color: #7b22f7;
    --gray-color: #bdbdba;
    --stronger-gray: #a5a5a4;
}

.webSite-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    height: 150px;
    box-shadow: 0 2px 5px black;
    background-color: var(--blue-color);
}

.main-text {
    font-family: var(--lobster);
    color: var(--orange-color);
    font-size: 100px;
}

.container {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.slider {
    -webkit-appearance: none;
    width: 300px;
    height: 25px;
    border-radius: 5px;
    outline: none;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    border-style: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
}

.slider::-webkit-slider-thumb:hover {
    box-shadow: 0 0 0 5px white;
}
.slider::-moz-range-thumb:hover {
    box-shadow: 0 0 0 5px white;
}

.can-change {
    background: white;
}

.slider::-webkit-slider-thumb {
    background: salmon;
}
.can-change::-moz-range-thumb {
    background: salmon;
}

/* This part will be executed when an animation is running */
.cant-change {
    background: var(--gray-color)
}

.cant-change::-webkit-slider-thumb {
    background: var(--stronger-gray);
    box-shadow: 0 0 0 5px white;
}

.cant-change::-moz-range-thumb {
    background: var(--stronger-gray);
    box-shadow: 0 0 0 5px white;
}

.bars {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 50px;
}

.each-bar {
    background-color: salmon;
    margin: 0 1px;
}

.custom-sortings-options {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    background-color: var(--purple-color);
    font-family: var(--lobster);
    margin-left: 30px;
    text-align: center;
    color: white;
    border-radius: 5px;
    width: auto;
    padding: 15px 20px;
    font-size: 40px;
    border-style: none;
    text-transform: capitalize;
    transition: all ease 0.3s;
}

.btn {
    height: 50px;
    border-style: solid;
    border-width: 3px;
    border-color: var(--purple-color);
    background-color: var(--orange-color);
    font-family: var(--oswald);
    font-weight: bold;
    margin: 0 10px;
    padding: 0 15px;
    font-size: 30px;
    transition: all ease 0.5s;
}

.button-onclick {
    background-color: var(--purple-color);
    border-color: var(--orange-color);
    color: white;
}